"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cad2d34e-f67f-4a84-a737-fb4bd2309654"
    json:
      indent_size: 2
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    fonts: {}
    tabs:
      compactTabs: true
    treeView: {}
    ui:
      panelShadows: true
  "atom-terminal-panel":
    clearCommandInput: false
    enableConsoleStartupInfo: false
    enableConsoleSuggestionsDropdown: false
  core:
    disabledPackages: [
      "linter-jshint"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "32a40756-3ebe-12c7-3f36-fad0c47094f7"
  "genesis-ui":
    distractionFree: {}
  minimap:
    absoluteMode: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  "open-terminal-here":
    command: "\"C:\\Program Files (x86)\\cmder\\Cmder.exe\" /START \"%cd%\""
  welcome:
    showOnStartup: false
".json.source":
  editor:
    tabLength: 2
