"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cad2d34e-f67f-4a84-a737-fb4bd2309654"
  "atom-terminal": {}
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "exception-reporting":
    userId: "32a40756-3ebe-12c7-3f36-fad0c47094f7"
  "open-terminal-here":
    command: "\"C:\\Program Files (x86)\\cmder\\Cmder.exe\" /START \"%cd%\""
  welcome:
    showOnStartup: false
