[
  {
    title: "App-launcher"
    paths: [
      "D:\\NewDocuments\\Code\\Node.js\\Window"
    ]
    devMode: true
  }
  {
    title: ".Atom"
    paths: [
      "C:\\Users\\Boogie\\.atom"
    ]
    devMode: true
  }
]
